.signup-form-container .row {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 5vw;
  margin-bottom: 30px;
}

.signup-form-container .card {
  width: 80vw;
}

.signup-form-container button {
  width: 50vw;
}

@media only screen and (min-width: 768px) {
  .signup-form-container .row {
    margin-top: 4vw;
  }
  .signup-form-container .card {
    width: 40vw;
  }
  .signup-form-container button {
    width: 20vw;
  }
}

@media only screen and (min-width: 1024px) {
  .signup-form-container .row {
    margin-top: 2vw;
  }

  .signup-form-container .card {
    width: 30vw;
  }

  .signup-form-container button {
    width: 20vw;
  }
}
