.cart {
  text-align: center;
}

.cart-summary-container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-gap: 5px;
}

.items-header {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  justify-content: space-between;
  place-items: center;
  align-content: center;
  padding: 5px;
  margin: 5px;
  font-family: var(--page-text-font);
  font-weight: 600;
  background-color: #a7ffeb;
}

.items-header p {
  margin-bottom: 0;
}

.right-align {
  float: right;
}

.summary .row {
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .form-container .row {
    margin-top: 12vw;
  }
}

@media only screen and (min-width: 1024px) {
  .cart-summary-container {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
  }
}
