.confirmation-container .row {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 1vw;
  font-size: 12px;
  margin-right: 0px;
}

.confirmation-header {
  display: flex;
  justify-content: space-around;
  align-content: center;
}
.confirmation-container .card {
  width: 80vw;
}

.form-container button {
  width: 30vw;
}

@media only screen and (min-width: 768px) {
  .confirmation-container .row {
    margin-top: 2vw;
    font-size: 15px;
  }
}

@media only screen and (min-width: 1024px) {
  .confirmation-container .row {
    margin-top: 1vw;
    font-size: 20px;
  }

  .confirmation-container .card {
    width: 60vw;
  }

  .confirmation-container button {
    width: 20vw;
  }
}
