:root {
  --light-yellow: #f4f0bb;
  --light-sea-green: #2bbbad;
  --pink: #d57e69;
}

* {
  box-sizing: border-box;
  align-items: center;
}

.App {
  text-align: center;
}

.right-align {
  float: right;
}

main {
  margin-top: 70px;
  margin-left: 10px;
  margin-right: 10px;
}
