/* .hidden-div h1 {
  opacity: 0;
  height: 30vw;
  background-color: transparent;
}

@media only screen and (min-width: 768px) {
  .hidden-div h1 {
    height: 15vw;
  }
}

@media only screen and (min-width: 1024px) {
  .hidden-div h1 {
    height: 12vw;
  }
}

@media only screen and (min-width: 1920px) {
  .hidden-div h1 {
    height: 0.8vw;
  }
} */

.category-title {
  text-shadow: 2px 2px 2px var(--light-sea-green);
}
